/package-lock.json
/node_modules/
/.idea/workspace.xml
/.idea/modules.xml
/.idea/my-nft-gen.iml
/.idea/vcs.xml
*.png
*.mp4
*.gif
/coverage/
/src/img/output/_in the index/
/.idea/jsLinters/eslint.xml
/.idea/inspectionProfiles/Project_Default.xml
/qodana.yaml
